- let firstName = "Richard"
- let lastName = "Stibbard"
- let fullName = `${firstName} ${lastName}`

p #{firstName}

p.first-name #{firstName}

#first-name #{firstName}

p= firstName

p.first-name= firstName

#first-name= firstName

.full-name= firstName + " " + lastName

.full-name= "First Name: " + firstName + " Last Name: " + lastName

.full-name= `${firstName} ${lastName}`

.full-name= `First Name: ${firstName} Last Name: ${lastName}`

p#full-name= fullName

